//Bootstrap
@use'../../../node_modules/bootstrap/scss/bootstrap.scss';

/*Variables*/
@use'../scss/partials/variables';

/*Common*/

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
}